@charset "UTF-8";

body{
    background-color: rgb(184, 143, 231);
    font: normal 15pt arial;

}

div {
    text-align: center;
    padding: 9px;
}



header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);

}

img#imagem {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

footer {
    color: white;
    text-align: center;
    font-style: italic;

}